<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="date" content='$date-meta$'>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
    <title>$title$</title>
  </head>
  <body>
    <header>
      <h1>$title$</h1>
      <!-- TODO: set aria-current="page" to the nav button of the current page-->
      <nav>
        <a href="index.html">About</a>
        <a href="all_rituals.html">All Rituals</a>
      </nav>
    </header>
$body$
  </body>
</html>

